body {
  background-color: rgb(32, 84, 97);
  overflow-x: hidden;
}

#leaderboard {
  padding: 10px;
  margin: 10px;
  border: 3px solid #000;
  min-height: 400px;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
}

#leaderboard div {
  margin: 8px 5px;
  font-size: 1.5rem;
}

#leaderboard,
.change-style:nth-child(odd) {
  background-color: rgb(81, 184, 184);
  list-style: none;
  font-size: 1.4rem;
}

#leaderboard,
.change-style:nth-child(even) {
  background-color: #c7c7c7;
  list-style: none;
  font-size: 1.4rem;
}

h1 {
  text-align: left;
  font-size: 3rem;
}

.container {
  display: flex;
  justify-content: space-around;
}

.left {
  text-align: left;
  width: 50%;
}

.right {
  margin-top: 10px;
  width: 30%;
  text-align: left;
}

#recent-score {
  display: flex;
  justify-content: space-between;
  margin: 1px 12px;
  align-items: baseline;
}

.refreshing {
  height: 35px;
  margin-top: 5px;
}

.submit-btn,
.refreshing {
  font-size: 1rem;
  width: 100px;
  font-family: "Montserrat", sans-serif;
  color: #fff;
  background-color: #000;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

.submit-btn:hover,
.refreshing:hover {
  color: #fff;
  background-color: rgb(27, 27, 27);
}

h1,
h2,
h3 {
  font-family: "Montserrat", sans-serif;
  color: #fff;
}

form {
  border: 2px solid #000;
  padding: 20px;
}

input {
  border: none;
  border-bottom: 2px solid #000;
  font-size: 1.3rem;
  padding: 10px;
  width: 300px;
  height: 30px;
  font-family: "Montserrat", sans-serif;
}

::placeholder {
  color: rgb(0, 0, 0);
}
